.container {
  background-color: #F5F8FA;
  min-height: 100vh;
}

header {
  padding: 30px;
  font-size: 40px;
  font-family: fantasy;
  font-weight: bold;
  color: blue;
  position: relative;
  top: 30px;
}